@font-face {
  font-family: "marvel";
  src: url("./assets/marvel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "marvel";
  background-color: #f0131e;
}

.heroes {
  width: 250px;
  height: 250px;
}

.card--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 20px;
}

.img--bg {
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 20px;
  padding: 20px 20px;
  background-color: black;
}

.img--bg:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(180, 200, 200, 1);
}

.nav--info {
  background-color: #f0131e;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game--info {
  text-align: center;
  font-size: 1.2rem;
}

.title {
  font-size: 3rem;
}

.scores {
  font-size: 1.5rem;
}

.heroes--name {
  color: white;
  text-align: center;
  font-size: 1.3rem;
}

img {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
